<h3><%=@user.username.capitalize%></h3>

<p><%=@user.email%></p>

<%if @user.profile_pic_link%>
    <p><img src="<%=@user.profile_pic_link%>"></img></p>
<%else%>
    <p><img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png"></img></p>
<%end%>


<p><%=@user.short_bio%></p>

<div class="container">
    <div class="card-deck">
        <%@user.projects.each do |project|%>
        <div class="card mb-3">
        <a href="/projects/<%=project.user.slug%>/<%=project.slug%>"><img class="card-img-top" src="<%=project.image_link0%>" alt="Image goes here"></a>
        <div class="card-body">
            <h5 class="card-title"><%=project.title%></h5>
            <p class="card-text"><%=project.description%></p>
        </div>
        </div>
        <%end%>
    </div>
</div>