

    <div class="d-flex justify-content-center"> 
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><%=@user.username.capitalize%></h5>
                <p class="card-text"><%=@user.email%></p>
            </div>
            <%if @user.profile_pic_link%>
                <p><img class="card-img-top" src="<%=@user.profile_pic_link%>"></img></p>
            <%else%>
                <p><img class="card-img-top"  src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png"></img></p>
            <%end%>
        </div>
    </div>

<p><%=@user.short_bio%></p>

<h1 class="text-center display-2">Projects</h1>
<div class="container">
    <div class="card-deck">
        <%@user.projects.each do |project|%>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card h-100">
                    <a href="/projects/<%=project.user.slug%>/<%=project.slug%>"><img class="card-img-top" src="<%=project.image_link0%>" alt="Image goes here"></a>
                    <div class="card-body">
                        <h5 class="card-title"><%=project.title%></h5>
                        <p class="card-text"><%=project.description%></p>
                        <p class="card-text">views: <%=project.view_count%></p>
                    </div>
                </div>
            </div>
        <%end%>
    </div>
</div>





<% if current_user == @user%>
<a href="/users/<%=@user.slug%>/edit" class="btn btn-info">Edit</a>

<form action="/users/<%=@user.slug%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input class="btn btn-danger" type="submit" name="Delete" value="Delete">
</form>
<%end%>